body{
    background-color: #EDF2C5;
    
    font-family:' Noto Sans', sans-serif;
}
.header{
   
    color:#778A50;
    justify-content:space-between;
    
    display:flex;
    align-items:center;
    width: 1122px;
    margin:36px auto 2px auto;
}
.veg{
    font-size:44px;
    line-height: normal;
    font-weight :900;
    font-family: 'Noto Sans', sans-serif;
    margin: 0;
}

.botton{
    display:flex;
    justify-content:flex-end;
}
.botton1{
    height:24px;
    width: 24px;
    padding-right: 12px;
}
.ig{
    height:24px;
    width: 24px;
    padding-right: 12px;
    border-right: 1px solid #778A50;
}
.botton2{
    font-size: 14px;
    
    font-weight: 700;
    border: 1px solid #778A50;
    border-radius: 3px;
    padding: 4px 8px;
    margin-left: 12px;
}
.container{
    max-width: 940px;
    background-color: #EDF2C5;
    margin-left:auto;
    margin-right:auto;
}
/*nav*/
.nav{
    margin:10px auto 16px auto;
    background-color:#778A50;
   
    padding-top: 10px;
    padding-bottom: 10px;
    width: 1122px;
    
}
.nav-list{
    margin:0;
    display:flex;
    width:1120px;
    padding: 0;
    padding-left: 30px;
}
.nav-list-item{
    list-style:none;
    margin-right:5px ;
    
}
.nav-list-item-link{
    display: block;
    color: #F7FBDA;
    text-decoration: none;
    padding: 10px 20px;
    font-weight:bold;
   
}
main{
    width: 1120px;
    padding: 0;
    margin:0 auto 117px auto;
}
.pum{
    max-width: 1122px;
    display: flex;
    margin:36px auto 2px auto;
}
.allpic{
    width: 528px;
    display: flex;
    justify-content: space-between;
}
.pic{
    width: 165px;
    height: 140px;
   

    justify-content: space-between;
}
.content-area{

    display: flex;
    justify-content: space-between;
    max-width: 1122px;
    margin:36px auto 2px auto;
}
.sidebar1{
    max-width: 528px;
    margin-left: auto;
    margin-right: auto;
    height: 201px;
}
.sideber2{
    height: 45px;
    width: 528px;
    height: 45px;
    margin-top: 32px;
    margin-left: 64px;
    border-radius: 3px;
    background-color: #778A50;
}
.title{
    width: 498px;
    font-family:'Nano Sans', sans-serif;
    background-color: #778A50;
    color:#EDF2C5;
    font-style:normal;
    font-size: 16px;
    font-weight: 900;
    line-height: 150%;
    padding: 10px 0 11px 30px;
    border-radius: 3px;
    margin:0 0 16px 0;
}
.title2{
    width: 498px;
    font-family:'Nano Sans', sans-serif;
    background-color: #778A50;
    color:#EDF2C5;
    font-size: 16px;
    font-weight: 900;
    font-style:normal;
    margin-left: 10px;
    line-height: 150%;
    padding: 10px 0 12px 30px;
    border-radius: 3px;
    margin:0 0 16px 0;
    margin-left: 11%;
}


.info{
    margin:0;
    padding-bottom: 3px;
    line-height: 150%;
    width: 490px;
    
    background-color: #F7FBDA;
    color:#7D7D7D;
    font-size: 12px;
    margin-left: 63px;
   padding-left: 20px;
   padding-right: 20px;
   padding-top: 9px;

}
.info1{
    padding-bottom: 3px;
    border-bottom:1px solid #7D7D7D;
    width: 496px;
    height: 54px;
}
.footer{
    padding-top: 20px;
    background-color:#778A50;
    text-align: center;
    font-size: 12px;
    color:#F7FBDA;
    padding-top: 20px;
    padding-bottom: 20px;
    line-height: 150%;
    border-radius: 3px;
    margin:0;
}